<div class="quiz-container">
    <h2>Trivia Quiz</h2>
    <form (ngSubmit)="onCreateQuiz()">
      <select id="categorySelect" name="categorySelect" [(ngModel)]="selectedCategory">
        <ng-container *ngIf="(categories$ | async) as categories">
            <option disabled value="" selected>Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </ng-container>
      </select>
  
      <select id="difficultySelect" name="difficultySelect" [(ngModel)]="selectedDifficulty">
        <option disabled value="" selected>Select a category</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
  
      <button id="createBtn" type="submit" [disabled]="selectedCategory === ''|| selectedDifficulty === '' ">Create Quiz</button>
    </form>

    <ng-container *ngIf="(questions$ | async) as questions">
        <div *ngFor="let question of questions">
            <p>{{question.question | sanitizeHtml}}</p>
            <div *ngFor="let answer of question.shuffled_answers, index as i"> 
                <button [class.btnAnswerSelected]="question.selected_answer === answer" class="btnAnswer" (click)="selectAnswer(answer, question, questions)"type="button">{{answer | sanitizeHtml}}</button>
            </div>
        </div>
        <br />
        <div *ngIf="answeredAll">
            <button  type="button" (click)="onSubmitQuiz(questions)">
              Check Answers
            </button>
        </div>
    </ng-container>        
</div>
